body {
    overflow: auto!important;
    width: auto!important;
}

#imagePreview {
    position: relative;
    display: none;
    width: 20%;
}

#imagePreview span {
    position: absolute;
    padding-left: 90%;
    cursor: pointer;
}

#imagePreview span:hover {
    color: grey;
}

#imagePreview img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.hidden {
    display: none;
}

.indexCarousel {
    padding-top: 40%;
    padding-bottom: 40%;
}

.collapsible-body {
    padding: 5px;
}

#closeBar {
    cursor: pointer;
}